body {
  margin: 0;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  background-color: var(--main-color);
  color: #eeeef7;
  z-index: 9090;

  figure {
    display: flex;
    align-items: center;

    img {
      width: 200px;
      margin-right: 0px;
      margin-left: 20px;
    }

    // smart campus
    h1 {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 16px;
    }
  }
}

main {
  position: relative;
  --searchbar-height: 40px;

  #sidepanel {
    position: absolute;
    width: var(--sidepanel-width);
    left: 0;
    top: 0;
    flex-shrink: 0;
    z-index: 6969;
    height: calc(100vh - var(--header-height));
    background-color: var(--sidepanel-color);
    box-shadow: 0px 0px 2px 0px #000000a6;

    transition: left 0.2s ease-in-out;

    &.hidden {
      left: calc(-1 * var(--sidepanel-width));
    }

    #searchbar-spacing {
      height: calc(var(--searchbar-height) + 20px);
    }

    img {
      width: var(--sidepanel-width);
    }

    #sidepanel-information {
      padding: 0 10px;

      h4 {
        font-size: 20px;
        margin-top: 4px;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
      }

      p {
        font-size: 12px;
      }
    }
  }

  #searchbar {
    $searchbar-border-color: #b9b9b9;
    $searchbar-floating-padding: 10px;
    max-width: calc(100vw - 130px);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 6969696969;
    height: var(--searchbar-height);
    width: calc(var(--sidepanel-width) - #{$searchbar-floating-padding * 2});
    height: var(--searchbar-height);
    border: 1px solid $searchbar-border-color;
    left: $searchbar-floating-padding;
    top: $searchbar-floating-padding;

    input {
      border: none;
      outline: none;
      background-color: transparent;
      width: 100%;
      height: 100%;
      background-color: #f2f5f9;
      padding: 5px;
      padding-left: 10px;

      &::placeholder {
        font-size: 14px;
      }
    }

    #toggle-panel-btn,
    #search-btn {
      height: 100%;
      padding: 0;
      width: 45px;
      background-color: transparent;
      border: none;
      outline: none;
      background-color: var(--sidepanel-color);

      img {
        width: 25px;
        padding: 0;
      }
    }

    #toggle-panel-btn {
      border-right: 1px solid $searchbar-border-color;
    }

    #search-btn {
      border-left: 1px solid $searchbar-border-color;
    }
  }

  #fisimap {
    height: calc(100vh - var(--header-height));
    // display: none;
    margin: 0;
    width: 100vw;
    font-family: sans-serif;
  }

  #sphere-viewer {
    height: calc(100vh);
    max-height: 100vh;
    background-color: black;
    display: none;
  }
}

#toggleable-layers {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 10px;
  border-radius: 3px;
  width: 35px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#toggleable-layers button {
  font-size: 13px;
  color: #404040;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#toggleable-layers button:last-child {
  border: none;
}

#toggleable-layers button:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#toggleable-layers button.active {
  background-color: #2e2e36;
  color: #ffffff;
}

#toggleable-layers button.active:hover {
  background-color: #302e2e;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  scale: 1.2;
  margin-bottom: 20px;
  margin-right: 12px;
}

#sphere-viewer {
  .view360-controls-float-right {
    top: 6px;
    right: 60px;

    .view360-controls-pie {
      height: 36px;
      width: 36px;
    }
  }
}

#sphere-viewer .close-view-btn {
  position: absolute;
  right: 14px;
  top: 9px;
  z-index: 80000;
  background-color: transparent;
}
#sphere-viewer .close-view-btn img {
  width: 40px;
  opacity: 0.8;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(103%) contrast(103%);
}
