.mapboxgl-ctrl-bottom-left {
  user-select: none !important;
  display: none !important;
}

.mapbox-improve-map {
  display: none;
}

#map {
  opacity: 0.4;
}

.mapboxgl-ctrl-bottom-right {
  user-select: none;
}

img {
  user-select: none;
}
